@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

button,
input {
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  margin: 0px;
  padding: 0px;
  font-family: "Poppins";
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

p,
h1 {
  margin: 0px;
  padding: 0px;
}
